/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Playfair Display', serif;
    color: #535353;
    background-color: #EDEAEA;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #535353;
}

/* Common styles for textboxes */
.textbox {
    background-color: #C89B9B;
    padding: 20px;
}

/* Navigation bar styles */
.navbar {
    background-color: #C89B9B;
    padding: 10px;
}

.nav-link {
    color: #EDEAEA;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
}

/* Services page styles */
.services-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.services-textbox,
.services-step,
.services-step-bold {
    margin-bottom: 20px;
}

.services-textbox {
    font-size: 30px;
}

.services-step-bold {
    font-weight: bold;
    font-size: 25px;
}

/* Inquiry Form styles */
.inquiry-form {
    text-align: center;
}

.form-title {
    font-size: 60px;
    color: #535353;
}

.input-label {
    font-size: 30px;
    color: #535353;
    margin-top: 20px;
}

.input-box {
    background-color: #535353;
    color: #EDEAEA;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
}

.submit-btn {
    background-color: #C89B9B;
    color: #EDEAEA;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
}

/* Contact page styles */
.contact-title {
    font-size: 60px;
    color: #535353;
    text-align: center;
    margin-top: 20px;
}

.contact-textbox {
    background-color: #C89B9B;
    padding: 20px;
    margin-top: 20px;
}

.social-box {
    background-color: #C89B9B;
    padding: 20px;
    margin-top: 20px;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.social-link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
}

/* Popup styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup-content {
    text-align: center;
}

/* DEVELOPER: Jinan Hussain, IS117-005, Fall 2023 */